<div class="nav">
  <div class="nav-in">
    <div class="nav-brand">
      <img class="nav-brand-logo" src="/img/logo-square.svg" alt="K-Black 的小破站" width="27" height="30">
      <span class="nav-brand-en">K-BLACK</span>
      <span class="nav-brand-sub">K-BLACK.TOP</span>
    </div>
    <nav class="nav-links">
      <a href="/" class="{{ if .IsHome }}on{{ end }}">INDEX 首页</a>
      <a href="/posts/" class="{{ if eq .CurrentSection.Section "posts" }}on{{ end }}">POSTS 文章</a>
      <a href="/stack/" class="{{ if eq .Type "stack" }}on{{ end }}">STACK 技术栈</a>
      <a href="/#profile">PROFILE 档案</a>
      <a href="/#about">ABOUT 关于</a>
    </nav>
    <button class="burger" id="burger"><i></i><i></i><i></i></button>
  </div>
</div>
<div class="mob" id="mob">
  <a href="/" class="{{ if .IsHome }}on{{ end }}">INDEX 首页</a>
  <a href="/posts/" class="{{ if eq .CurrentSection.Section "posts" }}on{{ end }}">POSTS 文章</a>
  <a href="/stack/" class="{{ if eq .Type "stack" }}on{{ end }}">STACK 技术栈</a>
  <a href="/#profile">PROFILE 档案</a>
  <a href="/#about">ABOUT 关于</a>
</div>
